@model DeliveryAgentManagementApp.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courier.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courier.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOrdered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOrdered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
